<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>SooperMeals Admin</title>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Root CSS -->
  <link rel="stylesheet" href="/css/adminpanel.css">

</head>
<body>

<nav class="navbar navbar-expand-lg bg-body-tertiary shadow fixed-top">
  <div class="container d-flex justify-content-center">
      <a class="navbar-brand" href="#"><img class="img-fluid" src="/img/soopermealslogo.png" alt="SooperMeals" style="max-width: 80px;"></a>
  </div>
</nav>

<div class="container-fluid d-flex p-0">

    <!-- Menubar -->
    <div class="sidebar">
      <ul class="nav flex-column shadow-sm px-2" id="menubar">
        <li class="nav-item pb-1">
          <a class="nav-link" href="/admin/home">Dashboard</a>
        </li>

        <li class="nav-item dropdown pb-1">
          <a class="nav-link dropdown-toggle" href="#" id="productDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            User Management
          </a>
          <ul class="dropdown-menu" aria-labelledby="productDropdown">
            <li><a class="dropdown-item" href="/admin/userdetails">User Details<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></a></li>
          </ul>
        </li>

        <li class="nav-item dropdown pb-1">
          <a class="nav-link dropdown-toggle" href="#" id="productDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Product Management
          </a>
          <ul class="dropdown-menu" aria-labelledby="productDropdown">
            <li><a class="dropdown-item" href="/admin/products">List Products</a></li>
            <li><a class="dropdown-item" href="/admin/addproducts">Add Product</a></li>
            <li><a class="dropdown-item" href="/admin/productcategory">Product Categories</a></li>
            <li><a class="dropdown-item" href="/admin/addproductcategory">Add Categories</a></li>
          </ul>
        </li>

        <li class="nav-item pb-1">
            <a class="nav-link" href="/admin/order">Order Management</a>
        </li>
      </ul>
    </div>

    <!-- Main Content -->
    <div class="container mt-5">

      <table class="table table-striped mt-4 overflow-hidden rounded text-center">
        <thead>
          <tr class="table-dark">
            <th scope="col">No.</th>
            <th scope="col">Order ID</th>
            <th scope="col">Food</th>
            <th scope="col">Quantity</th>
            <!-- <th scope="col">Delivery Address</th> -->
            <th scope="col">Ordered Time</th>
            <th scope="col">Status</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>

          <% if(orderdata.length>0){%>
            <% orderdata.forEach((odata, index)=>{%>
                <tr>
                    <th scope="row"><%= index+1 %></th>
                    <th><%= new Date(odata.orderdate).getTime() %></th>
                    <td><%= odata.foodname %></td>
                    <td><%= odata.foodquantity %></td>
                    <td><%= odata.orderdate.toLocaleString() %></td>
                    <!-- <td><%= odata.orderstatus %></td> -->
                    <td><% if(odata.orderstatus == 'Pending'){%>
                      <span class="text-secondary fw-medium">Pending</span>
                      <%}else if(odata.orderstatus == 'Cancelled'){%>
                        <span class="text-danger fw-medium">Cancelled</span>
                        <%}else if(odata.orderstatus == 'Accepted'){%>
                            <span class="text-success fw-medium">Accepted</span>
                            <%} %></td>
                    <td>
                        <form action="/admin/updateorder/<%= odata._id %>" method="POST" class="d-flex justify-content-center gap-3">
                            <div>
                                <select class="form-select form-select" name="orderstatus">
                                    <% if(odata.orderstatus == 'Pending'){%>
                                        <option value="Pending" selected>Pending</option>
                                        <option value="Accepted">Accepted</option>
                                        <option value="Cancelled">Cancelled</option>
                                        <%}else if(odata.orderstatus == 'Cancelled'){%>
                                            <option value="Pending">Pending</option>
                                            <option value="Accepted">Accepted</option>
                                            <option selected value="Cancelled">Cancelled</option>
                                            <%}else if(odata.orderstatus == 'Accepted'){%>
                                                <option value="Pending">Pending</option>
                                                <option selected value="Accepted">Accepted</option>
                                                <option value="Cancelled">Cancelled</option>
                                                <%} %>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-warning">Update Order</button>
                        </form>
                    </td>
                </tr>
                <%}) %>
            <%} %>
        </tbody>
      </table>

    </div>

</div>

<footer class="fixed-bottom bg-dark text-center text-white">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    Designed with love 
    <a class="text-white" href="#" style="text-decoration: none;">&copy;Soopermeals</a>
  </div>
  <!-- Copyright -->
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<!-- Bootstrap JS  -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
