<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SooperMeals</title>
  <!-- Bootstrap-CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <!-- Panel CSS -->
  <link rel="stylesheet" href="/css/userprofilepanel.css">
    <!-- SweetAlert JS -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>

  <nav class="navbar navbar-expand-lg bg-body-tertiary shadow">
    <div class="container">
      <a class="navbar-brand fw-semibold" href="#">SooperMeals</a>
      <div class="d-flex gap-4">
        <a href="" class="bi bi-heart-fill fs-3 text-danger"></a>
        <a href="/profile" class="bi bi-person-circle fs-3 text-dark"></a>
        <a href="/cart" class="bi bi-bag-fill fs-3 text-dark"></a>
        <a href="/logout"><button type="button" class="btn btn-danger">Logout</button></a>
        </div>
    </div>
  </nav>

  <div class="container-fluid d-flex p-0">

    <div class="sidebar shadow fw-semibold fs-6">
        <ul class="nav flex-column px-5" id="menubar">
            <li class="nav-item pb-1">
            <a class="nav-link" href="/profile">Profile</a>
            </li>

            <li class="nav-item dropdown pb-1">
                <a class="nav-link dropdown-toggle" href="#" id="productDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Address</a>
                <ul class="dropdown-menu" aria-labelledby="productDropdown">
                    <li><a class="dropdown-item" href="/profile/address">List Address</a></li>
                    <li><a class="dropdown-item" href="/profile/addaddress">Add Address</a></li>
                </ul>
            </li>

            <li class="nav-item pb-1">
            <a id="sideitem" onclick="this.classList.add('btnclick')" class="nav-link" href="#" id="productDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Orders</a>
            </li>

            <li class="nav-item pb-1">
            <a id="sideitem" onclick="this.classList.add('btnclick')" class="nav-link" href="#" id="productDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Wallet</a>
            </li>
        </ul>
    </div>

    <div class="container d-flex flex-column justify-content-center pt-4">

      <h2 class="mb-4">Hi, <%= userdata.username %></h2>

      <h3 class="mb-4">Order Confirmation</h3>

      <% if(cartdata.length>0){%>
      <table class="table table-striped overflow-hidden rounded text-center">
            <thead>
                <tr class="table-dark">
                    <th scope="col">Food</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price</th>
                </tr>
            </thead>

            <tbody>
                    <% cartdata.forEach((cdata, index) => { %>
                        <tr>
                            <td><%= cdata.foodname %></td>
                            <td><%= cdata.foodquantity %></td>
                            <td>₹ <%= cdata.foodprice * cdata.foodquantity %></td>
                        </tr>
                    <%}) %>
            </tbody>
        </table>

        <% if(addressdata){%>
            <!-- User Address Table -->
            <h5>Select Shipping Address:</h5>
            <form action="/checkout" method="POST">
                <div class="container d-flex align-items-center justify-content-between">
                    <div class="address-section">
                        <% addressdata.forEach((adata, index) => { %>
                            <div class="form-check address-checkbox">
                                <input class="form-check-input" type="radio" name="selectedAddress" id="address<%= index %>" value="<%= adata._id %>" <% if (index === 0) { %>checked<% } %>
                                <label class="form-check-label" for="address<%= index %>">
                                    <strong><%= adata.firstname %></strong>
                                    <strong><%= adata.lastname %></strong><br>
                                    <%= adata.housename %><br>
                                    <%= adata.city %>, <span>Kerala</span>, <%= adata.pincode %>, <%= adata.mobile %>
                                </label>
                            </div>
                        <% }); %>
                        <a href="/profile/addaddress" class="btn btn-warning mt-3">Add a new address</a>
                    </div>

                    <!-- Payment Options Box -->
                    <div class="payment-box d-flex flex-column">
                        <h5>Payment Options</h5>
                        <label for="paymentMethod">Select Payment Method</label>
                        <select class="form-select mb-4" id="paymentMethod" name="paymentMethod">
                            <option value="selectpay" disabled selected hidden>Select Payment</option>
                            <option value="COD">Cash on Delivery</option>
                            <option value="WALLET">Wallet Pay</option>
                            <option value="UPI">Razorpay (Online)</option>
                        </select>
                        <!-- Additional information -->
                        <span class="mb-2 fw-semibold">Delivery + Tax : ₹ 20.00</span>
                        <strong class="total-price">Total Price : ₹ <%= (totalprice+20).toFixed(2) %></strong>
                    </div>
                </div>

                <!-- Submit Order Button -->
                <div class="d-flex justify-content-center mt-3">
                    <button type="button" onclick="validateForm()" class="btn btn-success">Confirm Order</button>
                </div>
            </form>
            <%}else { %>
                <!-- No Address Message with Add Address Button -->
                <p>No address found. Kindly <a href="/profile/addaddress" class="btn btn-primary">add an address</a>to continue.</p>
            <% } %>

    </div>
    <%}else{%>
        <!-- No Order with Home Button -->
        <p>No order found. Kindly <a href="/home" class="btn btn-warning fw-semibold">Order Something</a> to continue.</p>
        <%} %>

            <!-- Custom Alert Modal -->
            <div class="modal fade" id="customAlertModal" tabindex="-1" aria-labelledby="customAlertModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <h5 id="customAlertMessage"></h5>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-warning" data-bs-dismiss="modal">OK</button>
                        </div>
                    </div>
                </div>
            </div>

</div>

  <footer class="fixed-bottom bg-dark text-center text-white">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      Designed with love 
      <a class="text-white" href="#" style="text-decoration: none;">&copy;Soopermeals</a>
    </div>
    <!-- Copyright -->
  </footer>

    <!-- If insufficient wallet balance -->
    <% if(nowallet == true){%>
    <script>
        // Toaster
        const Toast = Swal.mixin({
            toast: true,
            position: "top-end",
            showConfirmButton: false,
            timer: 3000,
            timerProgressBar: true,
        });
        Toast.fire({
            icon: 'error',
            title: 'Insufficient wallet Balance'
        });
    </script>
    <%}%>

    <script>

        // Validation
        function validateForm() {
                var selectedAddress = document.querySelector('input[name="selectedAddress"]:checked');
                var paymentMethod = document.getElementById('paymentMethod');

                if (!selectedAddress) {
                    showCustomAlert('Please select a shipping address.');
                } else if (paymentMethod.value === 'selectpay') {
                    showCustomAlert('Please select a payment method.');
                } else {
                    // If validation passes, submit the form
                    document.querySelector('form').submit();
                }
            }

            function showCustomAlert(message) {
                var customAlertMessage = document.getElementById('customAlertMessage');
                customAlertMessage.innerText = message;

                // Show the Bootstrap modal
                var customAlertModal = new bootstrap.Modal(document.getElementById('customAlertModal'));
                customAlertModal.show();
            }
    </script>
    

  <!-- Jquery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

  <!-- Bootstrap-JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

  <!-- Root JS -->
  <script src="/js/global.js"></script>
</body>

</html>